{% extends "emails/base.html" %} {% block content %}

<table
  class="module"
  role="module"
  data-type="spacer"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="table-layout: fixed"
  data-muid="91f87931-590c-4935-b511-c4a0d58ea9c6"
>
  <tbody>
    <tr>
      <td
        style="padding: 0px 0px 20px 0px"
        role="module-content"
        bgcolor=""
      ></td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  width="100%"
  role="module"
  data-type="columns"
  style="padding: 0px 0px 0px 0px"
  bgcolor="#FFFFFF"
  data-distribution="1,3"
>
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table
          width="95"
          style="
            width: 95px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 10px 0px 0px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-0"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="36ef031b-319a-449e-8942-c1a807915583"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 5px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              ><strong>Project:</strong></span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="435"
          style="
            width: 435px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 0px 0px 10px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-1"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="1d4de8cb-49ae-4310-9e47-8a97d29c1f5a"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 0px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            class="wrapper-value"
                            style="font-family: inherit; text-align: inherit"
                          >
                            <a
                              href="{{ ui_url }}/{{ run.jobdef.project.workspace.suuid }}/project/{{ run.jobdef.project.suuid }}/"
                              target="_blank"
                              ><span style="color: #5d3eb2; font-size: 18px"
                                >{{run.jobdef.project.get_name}}</span
                              ></a
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  width="100%"
  role="module"
  data-type="columns"
  style="padding: 0px 0px 0px 0px"
  bgcolor="#FFFFFF"
  data-distribution="1,3"
>
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table
          width="95"
          style="
            width: 95px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 10px 0px 0px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-0"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="36ef031b-319a-449e-8942-c1a807915583.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 5px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              ><strong>Job:</strong></span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="435"
          style="
            width: 435px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 0px 0px 10px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-1"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="1d4de8cb-49ae-4310-9e47-8a97d29c1f5a.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 0px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            class="wrapper-value"
                            style="font-family: inherit; text-align: inherit"
                          >
                            <a
                              href="{{ ui_url }}/{{ run.jobdef.project.workspace.suuid }}/project/{{ run.jobdef.project.suuid }}/jobs/{{ run.jobdef.suuid }}/overview"
                              target="_blank"
                              ><span style="color: #5d3eb2; font-size: 18px"
                                >{{run.jobdef.get_name}}</span
                              ></a
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  width="100%"
  role="module"
  data-type="columns"
  style="padding: 0px 0px 0px 0px"
  bgcolor="#FFFFFF"
  data-distribution="1,3"
>
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table
          width="95"
          style="
            width: 95px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 10px 0px 0px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-0"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="36ef031b-319a-449e-8942-c1a807915583.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 5px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              ><strong>Run:</strong></span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="435"
          style="
            width: 435px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 0px 0px 10px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-1"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="1d4de8cb-49ae-4310-9e47-8a97d29c1f5a.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 0px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <a
                              href="{{ ui_url }}/{{ run.jobdef.project.workspace.suuid }}/project/{{ run.jobdef.project.suuid }}/jobs/{{ run.jobdef.suuid }}/runs/{{ run.suuid }}/overview"
                              target="_blank"
                              ><span style="color: #5d3eb2; font-size: 18px">
                                {% if run.name %}
                                    {{ run.name }}
                                {% else %}
                                    {{ run.suuid }}
                                {% endif %}
                              </span></a
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  class="module"
  role="module"
  data-type="spacer"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="table-layout: fixed"
  data-muid="86888121-7b11-46bf-93d7-da8f7e667c6a"
>
  <tbody>
    <tr>
      <td
        style="padding: 0px 0px 20px 0px"
        role="module-content"
        bgcolor=""
      ></td>
    </tr>
  </tbody>
</table>
{% block rundate %} {% endblock %}
{% block duratation %} {% endblock %}
<table
  class="module"
  role="module"
  data-type="spacer"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="table-layout: fixed"
  data-muid="63ef8800-ab5d-4caf-8789-030332ea0348"
>
  <tbody>
    <tr>
      <td
        style="padding: 0px 0px 20px 0px"
        role="module-content"
        bgcolor=""
      ></td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  width="100%"
  role="module"
  data-type="columns"
  style="padding: 0px 0px 0px 0px"
  bgcolor="#FFFFFF"
  data-distribution="1,3"
>
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table
          width="95"
          style="
            width: 95px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 10px 0px 0px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-0"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="36ef031b-319a-449e-8942-c1a807915583.1.1.1.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 5px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              ><strong>By:</strong></span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="435"
          style="
            width: 435px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 0px 0px 10px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-1"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="1d4de8cb-49ae-4310-9e47-8a97d29c1f5a.1.1.1.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 0px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            class="wrapper-value"
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              >{{ run.member.get_name }}</span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  width="100%"
  role="module"
  data-type="columns"
  style="padding: 0px 0px 0px 0px"
  bgcolor="#FFFFFF"
  data-distribution="1,3"
>
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table
          width="95"
          style="
            width: 95px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 10px 0px 0px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-0"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="36ef031b-319a-449e-8942-c1a807915583.1.1.1.1.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 5px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              ><strong>Trigger:</strong></span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="435"
          style="
            width: 435px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 0px 0px 10px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-1"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="1d4de8cb-49ae-4310-9e47-8a97d29c1f5a.1.1.1.1.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 0px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              >{{ trigger }}</span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table
  class="module"
  role="module"
  data-type="spacer"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="table-layout: fixed"
  data-muid="199f66a1-0304-46e3-94d2-07fa7455ad37"
>
  <tbody>
    <tr>
      <td
        style="padding: 0px 0px 20px 0px"
        role="module-content"
        bgcolor=""
      ></td>
    </tr>
  </tbody>
</table>
<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  width="100%"
  role="module"
  data-type="columns"
  style="padding: 0px 0px 0px 0px"
  bgcolor="#FFFFFF"
  data-distribution="1,3"
>
  {% if result %}
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table
          width="95"
          style="
            width: 95px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 10px 0px 0px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-0"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="36ef031b-319a-449e-8942-c1a807915583.1.1.1.1.1.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 5px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <span style="font-size: 18px"
                              ><strong>Result:</strong></span
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          width="435"
          style="
            width: 435px;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 0px 0px 0px 10px;
          "
          cellpadding="0"
          cellspacing="0"
          align="left"
          border="0"
          bgcolor=""
          class="column column-1"
        >
          <tbody>
            <tr>
              <td style="padding: 0px; margin: 0px; border-spacing: 0">
                <table
                  class="module"
                  role="module"
                  data-type="text"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="table-layout: fixed"
                  data-muid="1d4de8cb-49ae-4310-9e47-8a97d29c1f5a.1.1.1.1.1.1.1"
                  data-mc-module-version="2019-10-22"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 0px 0px 0px;
                          line-height: 22px;
                          text-align: inherit;
                        "
                        height="100%"
                        valign="top"
                        bgcolor=""
                        role="module-content"
                      >
                        <div>
                          <div
                            style="font-family: inherit; text-align: inherit"
                          >
                            <a
                              href="{{ ui_url }}/{{ run.jobdef.project.workspace.suuid }}/project/{{ run.jobdef.project.suuid }}/jobs/{{ run.jobdef.suuid }}/runs/{{ run.suuid }}/result"
                              target="_blank"
                              ><span style="font-size: 18px; color: #5d3eb2"
                                >{{ result.name }}
                              </span></a
                            >
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endif %} {% endblock %}
